@import 'tailwindcss';

@import './custom.css';

@variant dark (&:where([data-theme='dark'] *));
@variant light (&:where([data-theme='light'] *));

@theme inline {
	/* Custom Fonts */
	--font-sans: 'Noto Sans Variable', sans-serif;
	--font-header: 'Anton', sans-serif;

	/* Colors */
	--color-base: var(--color-base-100);

	/* Add a small breakpoint for mobile */
	--breakpoint-xs: 29rem;

	/* Extra Text Sizes */
	--text-6xl: 4rem;

	/* Custom padding settings */
	--spacing-psm: 1rem;
	--spacing-pmd: 2rem;
	--spacing-plg: 4rem;
	--spacing-pxl: 8rem;

	/* Custom screen size settings */
	--spacing-sxs: 29rem;
	--spacing-ssm: 40rem;
	--spacing-smd: 48rem;
	--spacing-slg: 64rem;
	--spacing-sxl: 80rem;
	--spacing-s2xl: 96rem;

	/* DaisyUI Glass Variables */
	--glass-blur: 10px;
	/* change % value to anything else to remove divider effect */
	--glass-opacity: 0.2;
	--glass-reflect-degree: 105deg;
	--glass-reflect-opacity: 0.05;
	--glass-border-opacity: 0.1;
	--glass-text-shadow-opacity: 0.1;
}

@layer base {
	body {
		@apply bg-base text-base-content/95;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans leading-normal font-normal;
	}
	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	h4 {
		@apply text-2xl;
	}
	h5 {
		@apply text-xl;
	}
	.bg-primary * {
		@apply text-primary-content;
	}
	.bg-secondary * {
		@apply text-secondary-content;
	}
	.bg-accent * {
		@apply text-accent-content;
	}
	.bg-neutral * {
		@apply text-neutral-content;
	}
	.bg-info * {
		@apply text-info-content;
	}
	.bg-success * {
		@apply text-success-content;
	}
	.bg-warning * {
		@apply text-warning-content;
	}
	.bg-error * {
		@apply text-error-content;
	}
}

@layer utilities {
	.menu {
		@variant light {
			--menu-active-bg: color-mix(in oklch, var(--color-neutral) 20%, white);
		}
	}
}

@property --op {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.1;
}
@utility glass-subtle {
	--glass-opacity: var(--op);
	transition: --op 0.5s;
	@apply glass;
	&:hover {
		--op: 0.3;
	}
}
@utility bb {
	@apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-indigo-600 xl:border-pink-600;
}
@utility bb2 {
	@apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600 xl:border-indigo-600;
}
@utility flex-center {
	@apply flex items-center justify-center;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	root: ':root';
	include: button, menu, glass, typography, navbar, drawer;
	logs: true;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: false;
	color-scheme: 'dark';
	--img-overlay: rgba(0, 0, 0, 0.1);
	--overlay-base: rgba(0, 0, 0, 0.7);
	--color-base-100: oklch(20.768% 0.039 265.754);
	--color-base-200: oklch(19.314% 0.037 265.754);
	--color-base-300: oklch(17.86% 0.034 265.754);
	--color-base-content: oklch(84.153% 0.007 265.754);
	--color-primary: oklch(75.351% 0.138 232.661);
	--color-primary-content: oklch(15.07% 0.027 232.661);
	--color-secondary: oklch(68.011% 0.158 276.934);
	--color-secondary-content: oklch(13.602% 0.031 276.934);
	--color-accent: oklch(72.36% 0.176 350.048);
	--color-accent-content: oklch(14.472% 0.035 350.048);
	--color-neutral: oklch(27.949% 0.036 260.03);
	--color-neutral-content: oklch(85.589% 0.007 260.03);
	--color-info: oklch(68.455% 0.148 237.251);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(78.452% 0.132 181.911);
	--color-success-content: oklch(15.69% 0.026 181.911);
	--color-warning: oklch(83.242% 0.139 82.95);
	--color-warning-content: oklch(16.648% 0.027 82.95);
	--color-error: oklch(71.785% 0.17 13.118);
	--color-error-content: oklch(14.357% 0.034 13.118);
	--menu-active-bg: oklch(17.86% 0.034 265.754);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'light';
	default: false;
	prefersdark: false;
	color-scheme: 'light';
	--img-overlay: rgba(255, 255, 255, 0.75);
	--overlay-base: rgba(255, 255, 255, 0.65);
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(93% 0 0);
	--color-base-300: oklch(86% 0 0);
	--color-base-content: oklch(22.389% 0.031 278.072);
	--color-primary: oklch(58% 0.158 241.966);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(55% 0.046 257.417);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(60% 0.118 184.704);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(60% 0.126 221.723);
	--color-info-content: oklch(100% 0 0);
	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(100% 0 0);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(0% 0 0);
	--menu-active-bg: oklch(86% 0 0);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
