---
import Layout from '@/layouts/Layout.astro';
---

<Layout sideBarActiveItemID="guru">
	<main class="relative flex w-full justify-center pt-10 text-center">
		<div class="flex-center flex-col">
			<h1 class="font-bold tracking-tight">Guru Challenges</h1>
		</div>
	</main>
</Layout>
