---
import Layout from '@/layouts/Layout.astro';
---

<Layout sideBarActiveItemID="home">
	<main class="relative flex w-full justify-center pt-10 text-center">
		<div class="flex-center flex-col">
			<h1 class="font-bold tracking-tight">A space for experimenting</h1>
			<h5>Delete this and start playing</h5>
		</div>
	</main>
</Layout>
