---
import Layout from '@/layouts/Layout.astro';

import { challenges } from '@/data/challenges';
---

<Layout sideBarActiveItemID="home">
	<main class="relative flex w-full justify-center pt-10 text-center">
		<div class="flex-center w-full flex-col">
			<h1 class="mb-10 font-bold tracking-tight">Frontend Mentor Playground</h1>
			<div
				class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:w-full md:grid-cols-3"
			>
				{
					challenges.map((challenge) => (
						<a href={`/${challenge.difficulty}/${challenge.slug}/details`}>
							<div class="flex-center size-60 bg-sky-700">
								<h4 class="">{challenge.title}</h4>
							</div>
						</a>
					))
				}
			</div>
		</div>
	</main>
</Layout>
