---
import { Icon } from 'astro-icon/components';
import { cn } from '@/utils';

import { routes } from './routes';

interface Props {
	sideBarActiveItemID: string;
}

const { sideBarActiveItemID } = Astro.props;

const activeClass = 'glass';
---

<ul class="menu menu-md w-full shrink grow space-y-3 overflow-y-auto px-2">
	{
		routes.map((route) => (
			<li class="">
				<a
					href={route.href}
					id={route.id}
					class={cn(
						`flex justify-between rounded-lg bg-white/30 py-4 text-lg hover:bg-white/50 dark:bg-black/30 dark:hover:bg-white/10 ${route.id === sideBarActiveItemID && activeClass}`
					)}
				>
					{route.label}
					{route.icon && <Icon size={28} name={route.icon} />}
				</a>
			</li>
		))
	}
</ul>
