---
import SideBarMenu from './SideBarMenu.astro';

interface Props {
	sideBarActiveItemID: string;
}

const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
	<label for="my-drawer" class="drawer-overlay"></label>

	<aside
		class="text-base-content sidebar-bg relative flex h-auto min-h-full w-[18rem] flex-col px-2 pt-2"
	>
		<div class="my-20 px-5 text-center">
			<h5>Frontend Mentor Challenges</h5>
		</div>

		<!-- LINKS -->
		<div class="w-full">
			<SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
		</div>
	</aside>
</div>
