---
import Layout from '@/layouts/Layout.astro';
import { challenges } from '@/data/challenges.ts';

// const staticPathsArray = challenges.map((challenge) => {
// 	return {
// 		params: {
// 			difficulty: challenge.difficulty,
// 			slug: challenge.slug,
// 		},
// 		props: { title: challenge.title, description: challenge.description },
// 	};
// });

export function getStaticPaths() {
	return challenges.map((challenge) => {
		return {
			params: {
				difficulty: challenge.difficulty,
				slug: challenge.slug,
			},
			props: { title: challenge.title, description: challenge.description },
		};
	});
}

const { difficulty } = Astro.params;
const { title, description } = Astro.props;

export const prerender = true;
---

<Layout sideBarActiveItemID={difficulty}>
	<div class="flex-center flex-col space-y-4 px-10">
		<h1>Title: {title}</h1>
		<h2 class="text-center">{description}</h2>
		<h3>Difficulty: {difficulty}</h3>
	</div>
</Layout>
